# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*~

# Resultados grandes
results/raw/*.npy
results/raw/*.csv
*.log

# Sistema
.DS_Store
Thumbs.db
